<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add a course</title>

    
    <link href="/css/nav.css" rel="stylesheet">
    <link href="/css/addcourse.css" rel="stylesheet">
    <link href="/css/footer.css" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/js/nav.js"></script>


</head>
<body>
        <% include partials/nav %>
    <div class="wrapper">
    

        <form method="POST" action="../admin/post/addcourse/submit" class="form">
            <fieldset>
                <legend>Course code</legend>
                <input type="text"  name="courseCode">
            </fieldset>
            <fieldset>
                <legend>Course Name</legend>
                <input type="text" name="courseName">
            </fieldset>
        <fieldset>
            <legend>Select the school</legend>
        <table class="school">
            <tr>
                <td><label for="scope">SCOPE</label></td>
                <td><input type="checkbox" id="scope" name="school" value="scope"></td>
                <td><label for="scheme">SCHEME</label></td>
                <td><input type="checkbox" id="scheme" name="school" value="scheme"></td>
            </tr>
            <tr>
                <td><label for="site">SITE</label></td>
                <td><input type="checkbox" id="site" name="school" value="site"></td>
                <td><label for="sce">SCE</label></td>
                <td><input type="checkbox" id="sce" name="school" value="sce"></td>
                </tr>
            <tr>
                <td><label for="select">SELECT</label></td>
                <td><input type="checkbox" id="select" name="school" value="select"></td>
                <td><label for="sbst">SBST</label></td>
                <td><input type="checkbox" id="sbst" name="school" value="sbst"></td>
            </tr>
            <tr>
                <td><label for="sense">SENSE</label></td>
                <td><input type="checkbox" id="sense" name="school" value="sense"></td>
                <td><label for="vitbs">VIT BS</label></td>
                <td><input type="checkbox" id="vitbs" name="school" value="vitbs"></td>
            </tr>
            <tr>
                <td><label for="smec">SMEC</label></td>
                <td><input type="checkbox" id="smec" name="school" value="smec"></td>
                <td><label for="vsparc">V-SPARC</label></td>
                <td><input type="checkbox" id="vsparc" name="school" value="vsparc"></td>
            </tr>
            <tr>
                <td><label for="sas">SAS</label></td>
                <td><input type="checkbox" id="sas" name="school" value="sas"></td>
                <td><label for="ssl">SSL</label></td>
                <td><input type="checkbox" id="ssl" name="school" value="ssl"></td>
            </tr>
        </table>
    </fieldset>
            <fieldset>
                <input type="submit" id="submit" value="SUBMIT">
            </fieldset>
        </form>
    </div>
</body>
</html>