<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Paper</title>
</head>
<body>
    <% include partials/nav %>
    <h1>Yo dawg add a paper</h1>
    <hr>
    <div class="form-field">
        <form>
            <fieldset>
                <legend>Course code</legend>
                <input type="text" id="course_code">
            </fieldset>
            <fieldset>
                <legend>Course Name</legend>
                <input type="text" id="course_name">
            </fieldset>
            <fieldset>
                <legend>Paper Link</legend>
                <input type="mail" id="paper_link">
            </fieldset>
            <fieldset>
                <input type="submit" id="submit" value="SUBMIT">
            </fieldset>
        </form>
    </div>
</body>
</html>