<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Courses</title>
</head>
<body>
    <section class="course_content">
        <ul class="course_list">
            <li><a href="#" class="course_title">Dummy</a></li>
            <li><a href="#" class="course_title">Dummy</a></li>
            <li><a href="#" class="course_title">Dummy</a></li>
            <li><a href="#" class="course_title">Dummy</a></li>
            <li><a href="#" class="course_title">Dummy</a></li>
            <li><a href="#" class="course_title">Dummy</a></li>
            <li><a href="#" class="course_title">Dummy</a></li>
            <li><a href="#" class="course_title">Dummy</a></li>
        </ul>
    </section>
</body>
</html>