<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Courses</title>
</head>
<body>
    <% include partials/nav %>

    <h1>Yo dawg ! here is your list</h1>
    <hr>
    
    <ul>
        <% for(var i=0; i< course.length; i++){%>
            <li><a href="#"><%= course[i] %>&nbsp&nbsp<%=courseNames[i] %></a></li>
        <% } %>
    </ul>
    
</body>
</html>