<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/nav.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
    <title>Layout</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/js/nav.js"></script>
</head>
<body>
    <% include partials/nav %>
    <div class="parallax-image-1">
        <div class="parallax-text">
            <span class="border trans">
                Looking for previous year papers? PaperStock has it
            </span>
        </div>
    </div>
    <section>
        <div class="container">

            <div class="card">
                <a href="#" class="card-title">SCOPE</a>
            </div>

            <div class="card">
                <a href="#" class="card-title">SITE</a>
            </div>

            <div class="card">
                <a href="#" class="card-title">SENSE</a>
            </div>

            <div class="card">
                <a href="#" class="card-title">SELECT</a>
            </div>
            <div class="card">
                <a href="#" class="card-title">SMEC</a>
            </div>

            <div class="card">
                <a href="#" class="card-title">SAS</a>
            </div>
                        
        </div>
    </section>
    <div class="parallax-image-2">
        <div class="parallax-text">
            <span class="border trans">
                Select Your school
            </span>
        </div>
    </div>
    <section>
        <div class="container">

            <div class="card">
                <a href="/schoolA" class="card-title">SCHEME</a>
            </div>

            <div class="card">
                <a href="#" class="card-title">SCE</a>
            </div>

            <div class="card">
                <a href="/" class="card-title">SBST</a>
            </div>

            <div class="card">
                <a href="#" class="card-title">VIT BS</a>
            </div>

            <div class="card">
                <a href="#" class="card-title">V-SPARC</a>
            </div>
            <div class="card">
                <a href="#" class="card-title">SSL</a>
            </div>
                        
        </div>
    </section>
    <div class="parallax-image-3">
        <div class="parallax-text">
            <span class="border trans">
                Image text
            </span>
        </div>
    </div>
   <!--FOOTER-->
   <% include partials/footer %>
</body>
</html> 