<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Courses</title>
</head>
<body>
    <% include partials/nav %>

    <h1>Yo dawg ! here is your list of question papers</h1>
    <hr>
    <h1><%= examType %></h1>
    <hr>
    <a href="/">CAT1</a>
    <a href="#">CAT2</a>
    <a href="#">FAT</a>
    <ul>
        <% for(var i=0; i< courseLinks.length; i++){%>
            <li><a href=<%= courseLinks[i] %>>Question Paper <%= i %> </a></li>
        <% } %>
    </ul>
    
</body>
</html>