/*NAVIGATION BAR STYLING */

.nav-container nav.desk, nav.mob{
    width: 100%;
    background: #1d2125;
    height: 60px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14);
    top:0;
    left:0;
    

}

.navbar {
    background-color: #1d2125;
}