
/*STYLING HTML ,BODY AND THE PAGE*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body,html{
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    

}

.bg {
    margin:0;
    padding:0;
    background-image: url(/images/pen_book.jpg);

    /*Height */
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*NAVIGATION BAR STYLING */

.nav-container nav.desk, nav.mob{
    width: 100%;
    background: #1d2125;
    height: 60px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14);
    position: scroll;
    top:0;
    left:0;

}

nav.desk ul{
    list-style-type: none;
    width: 75;
    height: 60px;
    margin: 0 auto;
}

nav.desk ul li{
    width: 20%;
    float: left;
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.5s ease;
}

nav.desk ul li:hover{
    background-color: grey;

}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav.mob, .hamburger-btn{
    display: none;
}

@media screen and (max-width: 700px){
    nav.desk{
        display: none;
    }
    nav.mob, .hamburger-btn {
        display: block;
    }

    .hamburger-btn{
        position: relative;
    }

    .hamburger-btn .fa-bars, .hamburger-btn .fa-times{
        position: fixed;
        right: 25px;
        right: 15px;
        font-size: 35px;
        color: white;
        cursor: pointer;
    }

    .mob ul{
        background: #1d2125;
        list-style-type: none;
        display: none;
        overflow: visible;
    }

    .mob li{
        text-transform: uppercase;
        text-align: center;
        padding: 20px;
        cursor: pointer;
    }
    
    .mob ul.active{
        display: block;
    }
}


/*PARALLAX SECTION */


.parallax-image-1, .parallax-image-2, .parallax-image-3{
    position:relative;
    opacity:0.7;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    width:100%;
    z-index: -2;
  }
 

.parallax-image-1{
    background-image: url(/images/brain-storming.jpg);
    min-height: 100%;

}

.parallax-image-2{
    background-image: url(/images/writing.jpg);
    min-height: 400px;
}

.parallax-image-3{
    background-image: url(/images/hide-behind-books.jpg);
    min-height: 400px;
}

.parallax-text{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
}

.parallax-text .border{
    background-color:#111;
    color:#fff;
    padding:20px;
    font-size: 24px;
}
/*SECTION WITH CARDS*/


section{
    margin: 0;
    padding: 2%;
    width:100%;
    background-color:#1d2125;
}

.container {
    display: flex;
    flex-wrap: wrap;
    min-height: 100%;
    justify-content: center;
    overflow: hidden;
}

.card{
    margin: 20px 20px;
    width: 500px;
    height: 200px;
    background-color: #cfcfcf;
}

.card:hover{
    box-shadow: 5px 10px 18px black;
}

a.card-title {
    font-weight: bold;
    margin: 20% 25%;
    color: white;
    text-align: center;
    font-size: 40px;
    cursor: pointer;
}

a.card-title:hover{
    color: red;
}

@media screen and (max-width: 700px){
    .card{
        margin: 20px 20px;
        width: 500px;
        height: 60px; 
    }

    .card-title {
        justify-content: center;
        font-weight: bold;
        margin: 20px 0;
        text-align: center;
        font-size: 25px;
        color: white;
    }

    .parallax-text{
        display: flex;
        justify-content: center;
    }
    
}


/*FOOTER*/

.footer{
    background-color: #1d2125;
    height: 200px;
}